### Вычисления с помощью Numpy_

##### Задание 1

Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2
столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7.
Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите
среднее значение по каждому признаку, используя метод mean массива Numpy. Результат
запишите в массив mean_a, в нем должно быть 2 элемента.

In [1]:
import numpy as np

In [2]:
a = np.array([[1, 6], 
              [2, 8],
              [3, 11],
              [3, 10], 
              [1, 7]])

In [3]:
mean_a = a.mean(axis=0)

print(mean_a)

[2.  8.4]

##### Задание 2

Вычислите массив a_centered, отняв от значений массива “а” средние значения
соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно
производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [4]:
a_centered = np.subtract(a, mean_a)

print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

##### Задание 3

Найдите скалярное произведение столбцов массива a_centered. В результате должна
получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число
наблюдений.

In [5]:
x1 = a_centered[:, 0]
x2 = a_centered[:, 1]
a_centered_sp = x1 @ x2

N = x1.size - 1

print(a_centered_sp/N)

2.0

### Работа с данными в Pandas

##### Задание 1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со
столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и
['Тургенев', 'Чехов', 'Островский'].

Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно
содержатся данные:

[1, 1, 1, 2, 2, 3, 3],

['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и
поклонники']

In [27]:
import pandas as pd

In [35]:
authors = pd.DataFrame({'author_id': [1, 2, 3],
       'author_name': ['Тургенев', 'Чехов', 'Островский']})

book = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3],
       'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
       'price': [200, 321, 100, 130, 300, 210, 50]})

##### Задание 2

Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [41]:
authors_price = pd.merge(authors, book, on='author_id', how='outer')

authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    200
1          1    Тургенев                 Рудин    321
2          1    Тургенев     Дворянское гнездо    100
3          2       Чехов      Толстый и тонкий    130
4          2       Чехов       Дама с собачкой    300
5          3  Островский                 Гроза    210
6          3  Островский  Таланты и поклонники     50

##### Задание 3

Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими
книгами.

In [42]:
top5 = authors_price.nlargest(5, 'price')

top5

   author_id author_name        book_title  price
1          1    Тургенев             Рудин    321
4          2       Чехов   Дама с собачкой    300
5          3  Островский             Гроза    210
0          1    Тургенев       Отцы и дети    200
3          2       Чехов  Толстый и тонкий    130

##### Задание 4

Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat
должны быть четыре столбца:

author_name, min_price, max_price и mean_price,

в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя
цена на книги этого автора.

In [48]:
x1 = authors_price.groupby('author_name').agg({'price':'min'})
x2 = authors_price.groupby('author_name').agg({'price':'max'})

             price
author_name
Островский      50
Тургенев       100
Чехов          130